.servicePackage {
    margin: 0 32px;
    padding: 24px;
    background-color: #fff;
    border-radius: 24px;
    height: 95%;
}
.servicePackage .title {
    font-size: 34px;
    line-height: 54px;
    font-weight: 700;
    color: #1e0d03;
    margin-bottom: 32px;
}
.servicePackage .input {
    height: 48px;
    width: 446px;
    background-color: #f7f7f8;
    border: none;
    border-radius: 8px;
}
.servicePackage .input input {
    background-color: #f7f7f8;
}
.servicePackage .table {
    margin-top: 24px;
}
.servicePackage .table .edit {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #ff993c;
    cursor: pointer;
}
.servicePackage .btn {
    width: 160px;
    height: 48px;
}
