* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #E5E5E5;
  --darkBrown: #1E0D03;
  --yellow: #FFB800;
  --orange: #FF993C;
  --blue: #4F75FF;
  --darkOrange: #FF8A48;
}

.app {
  min-height: 100vh;
  background: #f9f6f4;
}

body {
  margin: 0;
  font-family: 'Montserrat Thin', sans-serif;
}

/* ignore compiling error frame */
body > iframe {
  display: none;
}

.ant-modal-header {
  border-bottom: none;
}
.ant-input:where(.css-dev-only-do-not-override-y5fdin).ant-input:placeholder-shown {
  font-style: italic;
}

.ant-popover-inner {
  background-color: #ffd2a8;
  border-radius: 8px;
}

.ant-popover-arrow-content {
  --antd-arrow-background-color: #ffd2a8;
}

.ant-popover-inner-content {
  padding: 0;
}

.ant-radio-wrapper span {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.ant-radio-wrapper {
    span:not(.ant-radio) {
        align-self: center !important;
        font-weight: 500;
        font-size: 16px;
    }
}

.ant-checkbox-wrapper {
    span:not(.ant-checkbox) {
        align-self: center !important;
        font-weight: 500;
        font-size: 16px;
    }
}

.ant-table-cell::before {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E5E5E5; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow); 
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
