* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #E5E5E5;
  --darkBrown: #1E0D03;
  --yellow: #FFB800;
  --orange: #FF993C;
  --blue: #4F75FF;
  --darkOrange: #FF8A48;
}

.app {
  min-height: 100vh;
  background: #f9f6f4;
}

body {
  margin: 0;
  font-family: 'Montserrat Thin', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
